.blog__container {
    background: #FFFFFF;
    border-radius: 12px;
    height: 640px;
    margin-bottom: 42px;
    padding: 31px 20px;
    width: 100%; //596px;
}

@include tablet {
    .blog__container {
        height: 656px;
    }
}

.blog__title {
    color: #E0E0E0;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 21px;
}

.blog__main {
    position: relative;
}

.blog__article {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    width: 187px;
}

.blog__image {
    background: blanchedalmond;
    border-radius: 12px 0 0 12px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 200px;
    width: 100%;
    img {
        border-radius: 12px;
        height: 100%;
        width: 100%;
    }
}

@include tablet {
    .blog__image {
        height: 321px;
        left: 226px;
        top: 0;
        width: 349px;
    }
    img {
        border-radius: 12px 0 0 12px;
    }
}

.blog__description {
    color: #828282;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    position: absolute;
    top: 390px;
    width: 100%;
}

@include tablet {
    .blog__description {
        top: 370px;
        width: 492px;
    }
}