.aside__container {
    // background: mediumpurple;
    display: flex;
    flex-direction: column;
    height: 1223px;
    width: 100%; //450px;
}

@include tablet {
    .aside__container {
        width: 50%;
    } 
}