.header__container {
    align-items: center;
    // background: mediumaquamarine;
    display: flex;
    height: 311px;
    justify-content: center;
    margin-bottom: 42px;
    margin-top: 70px;
    width: 100%;
}