.home__container {
    align-items: center;
    // background: chartreuse;
    display: flex;
    flex-direction: column;
    // height: 100vh;
    justify-content: center;
    margin: 0 20px;
    max-width: 1046px;
}

.home__main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@include tablet {
    .home__container {
        margin: 0 auto;
    }
    .home__main {
        flex-direction: row;
    }
}