.home__container {
    // align-items: center;
    // background: #333333;
    // display: flex;
    // flex-direction: column;
    // height: 100vh;
    // justify-content: center;
    // margin: 0 auto;
    // max-width: 1200px;
    // Prueba
    align-items: center;
    background: chartreuse;
    display: flex;
    flex-direction: column;
    // height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 1046px;
}

.home__main {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}