.main__container {
    // background: blue;
    height: 1370px;
    width: 100%;
}

@include tablet {
    .main__container {
        height: 1223px;
        padding-left: 34.64px; //37.98px;
        width: 785px;
    } 
}