.personalInfo__container {
    align-items: center;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 675px;
    padding: 22px;
    width: 1046px;
}

.personalInfo__foto {
    background: cadetblue;
    border-radius: 12px;
    height: 200px;
    margin-bottom: 20px;
    width: 200px;
    img {
        height: 100%;
        width: 100%;
    }
}

@include tablet {
    .personalInfo__container {
        flex-direction: row;
        height: 311px;
    }
    .personalInfo__foto {
        height: 100%;
        margin-right: 30px;
        margin-bottom: 0px;
        width: 267px;
        img {
            height: 100%;
            width: 267px;
        }
    }
}

.personalInfo__personal {
    // background: chocolate;
    height: 100%;
    width: 70%;
}

.personalInfo__name-email-phone {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    .personalInfo__name {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        h4 {
            color: #4F4F4F;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 6px;
        }
        p {
            color: #828282;
            font-size: 14px; 
        }
    }
    .personalInfo__email-phone {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p { 
            color: #4F4F4F;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 6px; 
            margin-left: 18.39px;
        }
        .personalInfo__email,
        .personalInfo__phone {
            display: flex;
        }
    }
}

.personalInfo__email {
    margin-bottom: 6px;
}

@include tablet {
    .personalInfo__name-email-phone {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 37px;
        .personalInfo__name {
            align-items: flex-start;
            margin-bottom: 0;
            h4 {
                font-size: 24px;
            }
            p {
                font-size: 18px; 
            }
        }
        .personalInfo__email-phone {
            align-items: flex-start;
            p { 
              
                font-size: 18px;
            }
        }
        .personalInfo__email {
            margin-bottom: 0px;
        }
    }
}

.personalInfo__descripcion {
    color: #828282;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    //width: 250px;
}

@include tablet {
    .personalInfo__descripcion {
        //width: 100%;
    }
}