.experiences__container {
    background: #FFFFFF;
    border-radius: 12px;
    height: 482px;
    padding: 17px 31.23px 17px 31.23px;
    width: 100%; //592px;
}

.experiences__title {
    color: #4F4F4F;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 44px;
}

.experiences__main {
    display: flex;
    .experiences__job {
        p {
            color: #828282;
            font-size: 14px; 
            font-weight: 500;
            line-height: 17px;
            margin-bottom: 12px;
        }
        h3 {
            color: #333333;
            font-size: 16px; 
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 33px;
        }
        .experiences__responsabilidades {
            p {
                color: #828282;
                font-size: 16px; 
                font-weight: 500;
                line-height: 20px;
            }
        }
        width: 387.57px;
    }
}

.experiences__image {
    height: 100%;
    margin-right: 22.71px;
    width: 100%;
    img {
        width: 100%;
    }
}

@include tablet {
    .experiences__image {
        height: 84px;
        width: 119.25px;
    }
}