.projects__container {
    background: #FFFFFF;
    border-radius: 12px;
    height: 215px;
    padding: 22px;
    width: 100%; //1046px;
}

.projects__title {
    h3 {
        color: #4F4F4F;
        font-size: 18px;
        font-weight: 500;
    }
    margin-bottom: 24px;
}

.projects__types {
    display: flex;
    flex-direction: column;
}

.projects__responsive, 
.projects__api,
.projects__mern {
    margin-right: 0;
    margin-bottom: 15px;
}

@include tablet {
    .projects__container {
        height: 115px;
    }
    .projects__types {
        flex-direction: row;
    }
    .projects__responsive, 
    .projects__api,
    .projects__mern {
        margin-right: 16px;
        margin-bottom: 0;
    }
}

.projects__responsive {
    align-items: center;
    background: #2F80ED;
    border: 1px solid #2F80ED;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 33px;
    justify-content: center;
    padding: 0 22px;
    &:active {
        transform: scale(0.98);
    }
}

.projects__api {
    align-items: center;
    background: white;
    border: 1px solid #4F4F4F;
    border-radius: 12px;
    color: #4F4F4F;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 33px;
    justify-content: center;
    padding: 0 22px;
    transition: all .5s ease;
    &:active {
        transform: scale(0.96);
    }
    &:hover {
        background: #2F80ED;
        border: 1px solid #2F80ED;
        color: white;
    }
}

.projects__mern {
    align-items: center;
    background: white;
    border: 1px solid #4F4F4F;
    border-radius: 12px;
    color: #4F4F4F;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 33px;
    justify-content: center;
    padding: 0 22px;
    transition: all .5s ease;
    &:active {
        transform: scale(0.96);
    }
    &:hover {
        background: #2F80ED;
        border: 1px solid #2F80ED;
        color: white;
    }
}